body 
{
    background-color:#f4f4f4;
    font-family:Sans-Serif;
    margin: 0 0 0 0;
}

#page_wrapper 
{
    background:none repeat scroll 0 0 #f4f4f4;
    position:relative;
    right:0;
    left:0;
    top:0;
    width:100%;
    overflow:hidden;
}

header
{
  
}

#banner
{
   width:100%;
   background-color:#dedede;
   position:fixed;
   z-index:999;
}

#navigation
{
    width:1080px;
    height:60px;
    padding:10px;
    margin:0 auto;
    background-color:#dedede;
}

#nav
{
    list-style:none;
    text-transform:uppercase;
    color:#000000;
    font-family:Berlin Sans FB;
    margin-left:0;      
}

#nav ul 
{
    list-style:none;
    margin:0;
    padding:0;
    width:auto;
    display:none;
}

#nav li 
{
    
    font-size:20px;
    float:right;
    text-align:left;
    position:relative;
    height:50px;
    width:40px;
}

.main_title 
{
    background-color:#f4f4f4;
    border:none;
    height:50px;
    vertical-align:middle;    
}

#top_title
{
    text-transform:uppercase;
    background-color:#dedede;
    text-align:center;
    color:#000000;
    font-weight:bold;
    margin: 0 0 0 0;
}

.img_title 
{
    height:300px;
    width:100%;
    background-repeat:no-repeat;
}



#wrapper
{
  height:auto;
  width: 1080px;  
  margin: 0 auto;
  padding:20px;
  background-color:#fff;
}

.content_area
{
    height:90%;
    float:left;
    margin:0 0 0 0;
    border:3px solid #E3E3E3;
}

.content_wrap
{
    background-color:#f4f4f4;
    width:1020px;
    height:90%;
    float:left;
    position:relative;
    right:0;
    left:0;
    top:0;
    bottom:0px;
    padding:20px;
     
}

.wrap_title h1
{
    border:5px solid #3232CD;
    width:190px;
    height:50px;
    color:#000000;
    background-color:#3232CD;
}


footer
{
    background-color:#00C5CD;
    color:#ffffff;
    text-align:center;
    clear:both;
    width:auto;
    height:200px;
    margin-top:20px;
    z-index:997;
}
