body 
{
    background-color:#F4F4F4;
    font-family:Sans-Serif;
    margin: 0 0 0 0;
}

#page_wrapper 
{
    background:#f4f4f4 none repeat scroll 0 0;
    position:relative;
    right:0;
    left:0;
    top:0px;
    width:100%;
    overflow:hidden;
}

#banner
{
   width:100%;
   background-color:#C3C3C3;
   position:fixed;
   border-bottom:1px solid #878E63;
   border-radius:2px;
   border-shadow: 0 0 10px 0px rgba(12,3 25, 0.8);
   color:White;
   z-index:999;
}

#navigation
{
    max-width:1080px;
    max-height:20px;
    padding:1%;
    margin:0 auto;
    background-color:#C3C3C3;
    z-index:999;
}

#nav
{
    list-style:none;
    text-transform:uppercase;
    font-family:Berlin Sans FB;
    margin-left:0;      
}

#nav li 
{
    list-style:none;
    font-size:20px;
    float:right;
    text-align:left;
    position:relative;
}

#nav li a:hover, #nav li.active a
{
    font-weight:bold;
    color:#3232CD;
     
}

.empty 
{
    height:40px;
    width:100%;
}

.main_title 
{
    background-color:#f4f4f4;
    border:none;
    max-height:50px;
    padding:2%;
    vertical-align:middle;    
}

#top_title
{
    text-transform:uppercase;
    background-color:#f4f4f4;
    text-align:center;
    padding:1% 0 3% 0;
    color:#000000;
    font-weight:bold;
    margin: 0 0 0 0;
}

.wrapper
{
  height:450px;
  max-width: 1080px;  
  margin: 0 auto;
  padding:5%;
  background-color:#fff;
}

.content_area_log
{
    float:left;
    padding-left:5%;
    padding-right:3%;
    width:300px;
    max-height:450px;
    
}

.content_area_register
{
    float:right;
    padding-right:5%;
    padding-left:3%;
    width:300px;
    max-height:450px;
    
}


.tab_header_log
{
    margin:0 0 0 0;
    padding-top:1%;
    padding-bottom:0.5%;
    padding-left:1%;
    background-color:#00C5CD;
    display:block;
    height:40px;
     vertical-align:middle;
}

.tab_header_log h2
{
    background-color:#00C5CD;
    font-weight:bold;
    text-align:center;
    margin:0 0 0 0;
}

.tab_header_reg
{
    margin:0 0 0 0;
    padding-top:1%;
    padding-bottom:0.5%;
    padding-left:1%;
    background-color:#3232CD;
    display:block;
    height:40px;
     vertical-align:middle;
}

.tab_header_reg h2
{
    background-color:#3232CD;
    font-weight:bold;
    text-align:center;
    margin:0 0 0 0;
}


.tab_content
{
   height:375px;
   background-color:#F4F4F4;
}

.content_area
{
    padding:5%;
    width:90%;
    height:210px; 
}

.content_area_r
{
    padding:2%;
}

footer
{
    background-color:#00C5CD;
    color:#ffffff;
    text-align:center;
    clear:both;
    width:auto;
    max-height:150px;
    margin-top:2%;
    z-index:997;
}

/*----------------------------MEDIA------------------------*/

@media screen and (max-width:478px) 
{
    body
    {
        font-size:13px;
         margin:0;
         width:auto;
         height:auto;
    }
}

@media screen and (max-width:740px) 
{
    body
    {
        font-size:13px;
    }
    
    h1
    {
        font-size:20px;
    }
        
    #navigation
    {
       width:100%;
       margin-bottom:10px;
    }
    
    #nav 
    {
        list-style:none; 
        margin:0 auto;
        padding-left:0;
    }
    
    #nav li 
    {
        text-align:center;
        margin-left:0 auto;
        width:100%;
        border-top:0px solid #d3d3d3;
        border-bottom:1px solid #d3d3d3;
        border-left:0px solid #d3d3d3;
        border-right:0px solid #d3d3d3;       
    }
    
     #nav li a
    {
        padding:6px 0;
        font-size:16px;
    }
    
    .content_area_log
    {
        padding: 5% 2% 5%;
        margin:0;
        width:100%;
    }
    
    .content_area_register
    {
        padding:5% 0 5% 0;
        margin:0;
        width:100%;
    }
    
     .wrapper 
     {
         height:900px;
     }
}
