body 
{
    font-family:Sans-Serif;
    margin: 0 0 0 0;
}

#page_wrapper 
{
    background:none repeat scroll 0 0 #f4f4f4;
    position:relative;
    right:0;
    left:0;
    top:0;
    width:100%;
    overflow:hidden;
}
.main_title 
{
    background-color:#f4f4f4;
    border:none;
    height:50px;
    vertical-align:middle;    
}

#top_title 
{
    background-color:#f4f4f4;
    text-align:center;
    color:#000000;
    font-weight:bold;
    margin: 10 0 0 0;
}

.img_title 
{
    height:100%; 
    width:100%;
    background-repeat:no-repeat;
}

#banner
{
   width:100%;
   background-color:#ffffff;
   position:fixed;
   z-index:999;
}

#navigation
{
    width:1080px;
    height:60px;
    padding:10px;
    margin:0 auto;
    background-color:#ffffff;
}

#nav
{
    list-style:none;
    text-transform:uppercase;
    color:#000000;
    font-family:Berlin Sans FB;
    margin-left:0;  
}

#nav ul 
{
    list-style:none;
    margin:0;
    padding:0;
    width:auto;
    display:none;
}

#nav li 
{
    font-size:20px;
    float:left;
    text-align:left;
    position:relative;
    height:50px;
    margin-right:20px;
}

/*
#nav li:after 
{
    font-size:15px;
    color:Gray;
    content: '•';  
}

# nav li.last:after {
    content: '';
}
*/

#nav_book li
{
     border: 1px solid #000000;
     font-size:25px;
     background-color:Red;
     margin-left:50px;
     margin-right:35px;
     color:#ffffff;
     width:100px;
}


#nav a:link, #nav a:active, #nav a:visited 
{
    display:block;
    color:Black;
    text-decoration:none;
}

#nav a:hover 
{
    color:Black;
}


.wrapper_1
{
  height:1000px;
  width: 1080px;  
  margin: 0 auto;
  padding:10px;
  background-color:#fff;
}

.wrapper
{
  height:700px;
  width: 1080px;  
  margin: 0 auto;
  padding:10px;
  background-color:#fff;
}

.wrap_title 
{
    height:50px;
}
    
.wrap_title h1
{
    border:5px solid #3232CD;
    width:150px;
    color:#000000;
    background-color:#3232CD;
    margin:20 10 20 10;
    
}


.content_wrap1
{
    right:0;
    left:0;
    top:0;
    bottom:0;
    z-index:-1;
     
}

.tab_header
{
    margin:0 0 0 0;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    background-color:#00C5CD;
    display:block;
}

.tab_header h2
{
    background-color:#00C5CD;
    font-weight:bold;
    margin:0 0 0 0;
}

.tab_remainRooms
{
    color:#ffffff;
    background-color:#00C5CD;
}

.wrap_box 
{
    margin:10 20 10 20;
    text-align:center;
}

.tab_content
{
   height:300px;
}


.tab_info_title
{
    display:block;
    width:150px;
    height:20px;
    margin:0 0 5 0;
    float:left;
}

.tab_info_details
{
    display:block;
    text-transform:uppercase;
    color:#00C5CD;
    font-weight:bold;
    width:350px;
    height:20px;
    margin:0 0 5 0;
    float:right;
    text-align:left;
}

.tab_info 
{
    margin:0 0 0 0;
    height:20px;
}

.content_area
{
    float:left;
    width:500px;
    height:380px;
    margin:0 10 0 10;
    border:3px solid #E3E3E3; 
    padding:10px;
}

.content_rooms 
{
    height:450px;
    width:1040px;
    margin:0 0 10 0;
}
    

.img_room 
{
    float:right;
    height:400px;
    width: 500px;
}

.content_area2
{
    height:300px;
    margin:0 10 0 10; 
}

.content_area2 h4 
{
    margin:20 100 10 20;
    color:Gray;
    text-align:center;
    padding-bottom:20px;
    padding-top:10px;
}

.content_wrap
{
    background-color:#f4f4f4;
    width:1030px;
    height:400px;
    float:left;
    position:relative;
    right:0;
    left:0;
    top:0;
    bottom:0;
    padding:10px;
}

.facil_col1
{
    display:block;
    width:500px;
    height:50px;
    margin:0 10 10 0;
    float:left;
}

.facil_col2
{
    display:block;
    font-weight:bold;
    width:500px;
    height:50px;
    margin:0 0 10 0;
    float:right;
    text-align:left;
}

.content_area3
{
    height:50px;
    margin:0 10 0 10; 
    padding:10px;
}

.content_area3 h3 
{
    margin:20 20 10 20;
    padding-top:10px;
}

.content_area3 div 
{
    padding:10px;
}


footer
{
    background-color:#00C5CD;
    color:#ffffff;
    text-align:center;
    clear:both;
    width:auto;
    height:200px;
    margin-top:20px;
    z-index:997;
}


    
