body 
{
    font-family:Sans-Serif;
    margin: 0 0 0 0;
}

#page_wrapper 
{
    background:none repeat scroll 0 0 #f4f4f4;
    position:relative;
    right:0;
    left:0;
    top:0;
    max-width:100%;
    overflow:hidden;
}
.main_title 
{
    background-color:#f4f4f4;
    border:none;
    max-height:50px;
    vertical-align:middle;    
}

#top_title 
{
    background-color:#f4f4f4;
    text-align:center;
    color:#000000;
    font-weight:bold;
}

.img_title 
{
    height:100%; 
    width:100%;
    background-repeat:no-repeat;
}

#banner
{
   width:100%;
   background-color:#ffffff;
   position:fixed;
   border-bottom:1px solid #878E63;
   border-radius:2px;
   border-shadow: 0 0 10px 0px rgba(12,3 25, 0.8);
   z-index:999;
}

#navigation
{
    max-width:1080px;
    max-height:50px;
    padding:1%;
    margin:0 auto;
    background-color:#ffffff;
}

#nav
{
    list-style:none;
    text-transform:uppercase;
    color:#000000;
    margin-left:0;  
}

#nav ul 
{
    list-style:none;
    margin:0;
    padding:0;
    width:auto;
    display:none;
}

#nav li 
{
    font-size:20px;
    float:left;
    text-align:left;
    position:relative;
    max-height:50px;
    margin-right:5%;
}

#nav li a
{
    text-decoration:none;
    display:block;
}


#nav li a:hover, #nav li.active a
{
    font-weight:bold;
    color:#3232CD;
     
}

#nav li.last 
{
    float:right;
}
/*
#nav_book li
{
     border: 1px solid #000000;
     font-size:25px;
     background-color:Red;
     margin-left:50px;
     margin-right:35px;
     color:#ffffff;
     width:100px;
}
*/

#nav a:link, #nav a:visited 
{
    display:block;
    color:Black;
    text-decoration:none;
}



.wrapper_1
{
  height:1100px;
  max-width: 1080px;  
  margin: 0 auto;
  padding:2%;
  background-color:#fff;
}

.wrapper
{
  max-height:800px;
  max-width: 1080px;  
  margin: 0 auto;
  padding:2%;
  background-color:#fff;
}

.wrap_title 
{
    max-height:50px;
}
    
.wrap_title h1
{
    border:2% solid #3232CD;
    max-width:150px;
    color:#000000;
    background-color:#3232CD;
    margin:2% 1% 2% 1%;
    
}


.content_wrap_rooms
{
    background-color:#f4f4f4;
    height:900px;
    position:relative;
    right:0;
    left:0;
    top:0;
    bottom:0;
    padding:2%;
    z-index:1;    
}

.content_rooms 
{
    height:450px;
    width:100%;
    margin:0 0 2% 0;
}

.content_area
{
    float:left;
    width:45%;
    height:380px;
    border:3px solid #E3E3E3; 
    padding:1%;
    z-index:2;    
}

.tab_header
{
    margin:0 0 0 0;
    padding-top:0.5%;
    padding-bottom:0.5%;
    padding-left:1%;
    background-color:#00C5CD;
    display:block;
}

.tab_header h2
{
    background-color:#00C5CD;
    font-weight:bold;
    margin:0 0 0 0;
}

.tab_remainRooms
{
    color:#ffffff;
    background-color:#00C5CD;
}

.tab_content
{
   height:250px;
   max-width:500px;
}


.tab_info_title
{
    display:block;
    width:30%;
    height:20px;
    margin:0 0 1% 0;
    float:left;
}

.tab_info_details
{
    display:block;
    text-transform:uppercase;
    color:#00C5CD;
    font-weight:bold;
    width:70%;
    height:20px;
    margin:0 0 1% 0;
    float:right;
    text-align:left;
}

.wrap_box 
{
    margin:1% 2% 1% 2%;
    text-align:center;
}

.img_room 
{
    float:right;
    height:400px;
    width: 45%;
}

.content_area_fac
{
    height:480px;
}

.content_area_fac h4 
{
    /*margin:20 100 10 20;*/
    color:Gray;
    text-align:center;
    padding-bottom:2%;
}

.content_wrap
{
    background-color:#f4f4f4;
    height:400px;
    position:relative;
    right:0;
    left:0;
    top:0;
    bottom:0;
    padding:2%;
}

.facil_col1
{
    display:block;
    font-weight:bold;
    max-width:50%;
    max-height:50px;
    margin:0 0 2% 0;
    float:left;
}

.facil_col2
{
    display:block;
    font-weight:bold;
    max-width:50%;
    max-height:50px;
    margin:0 0 2% 0;
    float:right;
}

.content_area_about
{
    background-color:#f4f4f4;
    max-height:300px;
    position:relative;
    right:0;
    left:0;
    top:0;
    bottom:0;
    padding:2%;
}

footer
{
    background-color:#00C5CD;
    color:#ffffff;
    text-align:center;
    clear:both;
    width:auto;
    max-height:150px;
    margin-top:2%;
    z-index:997;
}

/*----------------------------MEDIA------------------------*/

@media screen and (max-width:478px) 
{
    body
    {
        font-size:13px;
         margin:0;
         width:auto;
         height:auto;
    }
}

@media screen and (max-width:740px) 
{
    body
    {
        font-size:13px;
    }
    #navigation
    {
       width:100%;
       margin-bottom:10px;
    }
    
    #nav 
    {
        list-style:none; 
        margin:0 auto;
        padding-left:0;
    }
    
    #nav li 
    {
        text-align:center;
        margin-left:0 auto;
        width:100%;
        border-top:0px solid #d3d3d3;
        border-bottom:1px solid #d3d3d3;
        border-left:0px solid #d3d3d3;
        border-right:0px solid #d3d3d3;       
    }
    
     #nav li a
    {
        padding:6px 0;
        font-size:16px;
    }
    
    /*
    #nav Btn_Login_Reg 
    {
        width:100%;
        text-align:center;
        font-size:16px;
        margin-left:0 auto;
        width:100%;
    }
    */
    
    .wrap_box 
    {
        width:90%;
        padding:0;
    }
    
    .img_room
    {
        width:100%;
    }
    
    .wrapper_1 
    {
        height:1900px;
    }
    .content_rooms 
    {
        height:900px;
    }
    
    
    .content_wrap_rooms 
    {
        height:1750px;
    }
    
    .content_area 
    {
        width:100%;
    }
}

    
