<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="RegistrationConnectionString" connectionString="Data Source=(LocalDb);Integrated Security=True;Connect Timeout=30;"
      providerName="System.Data.SqlClient" />
    <add name="Registration_ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="PersonalData_ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"
  providerName="System.Data.SqlClient" />
    <add name="Age_Preferences_ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"
  providerName="System.Data.SqlClient" />
    <add name="Course_Preferences_ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"
  providerName="System.Data.SqlClient" />
    <add name="Gender_Preferences_ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"
  providerName="System.Data.SqlClient" />
    <add name="Nationality_Preferences_ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"
  providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>